body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font:12px,HELVETICA;background:#fff;font-family: Helvetica Neue,Hiragino Sans GB,stheiti,Microsoft Yahei,\\5FAE\8F6F\96C5\9ED1,tahoma,sans-serif;}
a{color:#172c45;text-decoration:none;} 
a:hover{color:#cd0200;text-decoration:none;cursor:pointer;} 
em,i{font-style:normal}   li{list-style:none}
img{border:0;vertical-align:middle} 
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}
.t{ width: 100%; }
.c{margin: 0 auto;}
.l{float: left;}
.r{float: right;}